/* A basic setup */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    background-color:white;
    color: #333;
}


header {
    background-color: navy;
    color: white;
    padding: 40px 20px;
    text-align: center;
}

header a {
    color: lightblue;
    text-decoration: underline;
}

#about {
    padding: 40px 10%;
}

.about-container {
    display:flex;                   */ im using flex for layout */
    align-items: center;            */ centers items vertically */
    gap: 30px;                      */ space betwen picture and text */
}