/* A basic setup */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    background-color:white;
    color: #333;
}


header {
    background-color: navy;
    color: white;
    padding: 50px 20px;
    text-align: center;
}

header a {
    color: lightblue;
    text-decoration: underline;
}

#about {
    padding: 60px 10%;
}

.about-container {
    display:flex;                   /*im using flex for layout */
    align-items: center;            /*centers items vertically */
    gap: 40px;                      /*space betwen picture and text */
}

.profile-pic {
    width: 250px;
    height: 250px;
    border-radius: 50%;  /* makes it to be in a circle */
    border: 0px solid navy;
    object-fit: cover;
    flex-shrink: 0;     /* prevents image from getting squashed */
}

.about-text h2 {
    margin-bottom: 15px;
}

.about-text h3 {
    font-size: 1.5rem;
    margin-top: 20px;
    margin-bottom: 10px;
}

.about-text ul {
    padding-left: 20px;
}

#projects {
    padding: 40px 10%;                          /* fixed typo from P to p */
    background-color: f9f9f9f;                 /* light grey background */
}

.section-title {
    text-align: center;
    margin-bottom: 40px;
}

.project-grid {                    
    display: grid;                      /* trigger grid */
    grid-template-columns: 1fr 1fr;     /* two equal columns */
    gap: 30px;                          
}

.project-card {
    background-color: white;
    padding: 20px;
    border: 1px solid #ddd;        /*simple border instead of shadows */
    text-align: center;
}

.project-card img {
    width: 100%;            /*makes the image to fit the card */
    height: 250px;
    object-fit: cover;
    margin-bottom: 15px;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: navy;
    color: white;
}